@import "reset.less";
@import "lib.less";
@import "typo.less";
@import "components.less";

/* Main Layout */
body {
	display: none;
}

aside, section {
	border-top: 1px solid #f09;
}

aside {
	float: left;
	width: 200px;
	background: #17181c;
	border-right: 1px solid #eee;
	text-shadow: #000 0 0.1em;
	a.brand {
		display: block;
		padding: 5px 0 3px;
		border-bottom: 1px solid #111215;
		text-align: center;
		img {
			width: 147px;
			height: 36px;
		}
	}
	form {
		padding: 0 5px;
		input[type="text"] {
			width: 176px;
			font-size: 12px;
			background: #eee;
			margin-bottom: 5px;
		}
		a.input-speech {
			left: 169px;
		}
		button[type="submit"] {
			display: none;
		}
	}
	menu {
		a {
			display: block;
			color: #c0c0c0;
			padding: 5px;
			.ellipsis();
			&:hover, &.dropping {
				color: #fff;
				background: #222326;
			}
			&.dropping-reorder {
				border-top: 1px solid #0088cc;
				padding-top: 4px;
			}
		}
		li.header {
			display: block;
			padding: 3px 22px;
			font-size: 11px;
			font-weight: bold;
			line-height: 20px;
			color: #999;
			text-transform: uppercase;
			margin: 9px 0 0;
		}
		li.selected a {
			color: #fff;
			background: #f09;
		}
		li.lli a {
			padding: 0;
			height: 10px;
			&.dropping-reorder {
				height: 9px;
			}
		}
		&:last-child {
			padding: 0 0 10px;
			overflow-y: auto;
		}
		&::-webkit-scrollbar {
			width: 7px;
		}
		&::-webkit-scrollbar-thumb {
			background: rgba(255, 255, 255, 0.47);
			.borderRadius(10px);
		}
	}
}

section {
	overflow-y: scroll;
	div.header {
		padding: 0 20px;
		h1 a {
			color: #0088cc;
		}
	}
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background: #0b0c0e;
	color: #c0c0c0;
	z-index: 1030;
	&.playing {
		div.slider {
			display: block;
		}
		menu i {
			background-image: url("../img/icons-white.png");
		}
		&:hover, &.sliding {
			div.slider {
				height: 8px;
				div {
					height: 8px;
					&.t {
						height: auto;
					}
				}
				span {
					margin: -4px 0 0 -8px;
					width: 15px;
					height: 15px;
				}
			}
		}
	}
	div.slider {
		display: none;
		position: relative;
		margin: -1px 0 0;
		height: 3px;
		&, div {
			.transition(height 0.5s);
		}
		div {
			position: absolute;
			height: 3px;
			background: #f09;
			&:first-child {
				background: #505154;
			}
			&.t {
				height: auto;
				background: #0b0c0e;
				color: #333;
				text-shadow: none;
				top: -21px;
				margin: 0 0 0 -15px;
				color: #fff;
				padding: 0 4px;
				.borderRadius(10px);
			}
		}
		span {
			position: absolute;
			margin: 2px 0 0;
			background: #fff;
			box-shadow: 0 0 1px #000;
			-webkit-box-shadow: 0 0 1px #000;
			-moz-box-shadow: 0 0 1px #000;
			.borderRadius(10px);
			transition: width 0.5s, height 0.5s, margin 0.5s;
			/*-moz-transition: width 0.5s, height 0.5s;*/
			-webkit-transition: width 0.5s, height 0.5s, margin 0.5s;
			-o-transition: width 0.5s, height 0.5s, margin 0.5s;
		}
	}
	menu {
		overflow: hidden;
		li {
			float: left;
			padding: 10px 5px;
			&:first-child {
				padding-left: 10px;
			}
			&.title, &.time {
				padding: 16px 10px;
			}
			&.title a {
				color: #c0c0c0;
				&:hover {
					color: #fff;
				}
			}
			&.fullscreen, &.time {
				float: right;
			}
		}
	}
}

#YTPlayer, #SCPlayer {
	position: absolute;
	top: -100%;
	left: -100%;
	width: 100%;
	height: 100%;
	background: #000;
}

#SCPlayer iframe {
	width: 100%;
	height: 99%;
}

/* Sections */
section {
	div.half {
		float: left;
		width: 50%;
	}
	div.padding {
		padding: 0 20px 20px;
		&.border {
			border-left: 1px solid #eee;
		}
	}
	a.album {
		float: left;
		width: 126px;
		margin: 5px 0 5px 10px;
		padding: 20px;
		background: #eee;
		border: 1px solid #c0c0c0;
		text-align: center;
		cursor: pointer;
		.borderRadius();
		div.img {
			overflow: hidden;
			width: 126px;
			margin: 0 auto 10px;
			iframe, b {
				float: left;
				width: 126px;
				height: 126px;
			}
			b {
				position: relative;
				margin: -126px 0 0;
			}
		}
		span {
			display: block;
			width: 126px;
			color: #333;
			.ellipsis();
		}
		&.mini {
			width: 64px;
			padding: 10px 14px;
			margin: 0 5px 5px 0;
			div.img {
				width: 64px;
				iframe, b {
					width: 64px;
					height: 64px;
				}
				b {
					margin: -64px 0 0;
				}
			}
			span {
				width: 64px;
			}
		}
	}
	div.tags {
		margin: 10px 0;
		text-align: center;
		max-width: 300px;
		a {
			display: inline-block;
			padding: 7px 15px 8px;
			margin: 0 3px 5px 0;
			color: #fff;
			background: #0092b6;
			.borderRadius();
		}
	}
	table td.empty, p.empty {
		padding: 20px 60px !important;
		color: #c0c0c0 !important;
		font-weight: bold;
		font-size: 31.5px !important;
		line-height: 40px;
		text-rendering: optimizelegibility;
		text-align: center !important;
	}
}

section#playlist, section#album, section#loved {
	div.header menu.actions {
		float: right;
		margin: 10px 0 0;
		span.red {
			color: #f09;
		}
	}
	div.empty {
		margin: 40px auto 20px;
		max-width: 396px;
	}
	div.border form {
		margin-bottom: 20px;
		label {
			display: inline-block;
			padding-right: 20px;
			text-align: right;
		}
		.controls {
			display: inline-block;
			select,
			textarea,
			input[type="text"],
			input[type="password"] {
				margin-bottom: 0;
			}
		}
	}
	menu.tabs {
		margin: 0 0 10px;
		border-bottom: 1px solid #ddd;
		&:before, &:after {
			display: table;
			line-height: 0;
			content: "";
		}
		&:after {
			clear: both;
		}
		li {
			float: left;
			margin-bottom: -1px;
			a {
				display: block;
				padding: 8px 12px;
				margin: 2px 0 0 2px;
				line-height: 20px;
				border: 1px solid transparent;
				.borderRadius(4px 4px 0 0);
			}
			a:hover, a:focus {
				border-color: #eeeeee #eeeeee #dddddd;
				background-color: #eeeeee;
			}
			&.selected a, &.selected a:hover, &.selected a:focus {
				background-color: #fff;
				color: #555;
				border: 1px solid #ddd;
				border-bottom-color: transparent;
				cursor: default;
			}
		}
	}
	table {
		width: 100%;
		cursor: default;
		td {
			background: #fff;
			border-top: 1px solid #fff;
			vertical-align: top;
			padding: 8px 5px 7px;
			&:first-child, &.time {
				color: #808080;
				font-size: 11px;
				text-align: right;
				a {
					display: none;
					&.love {
						position: relative;
						margin: -14px 0 0;
						top: 13px;
						height: 14px;
						left: -28px;
					}
				}
			}
			&:first-child {
				min-width: 14px;
			}
			&.title {
				width: 90%;
			}
		}
		tr:nth-child(even) td {
			background: #f8f8f8;
			border-top-color: #f8f8f8;
		}
		tr.playing td {
			background: #fff9e3;
			&.title {
				font-weight: bold;
			}
			&:first-child {
				span {
					display: none;
				}
				a {
					display: inline;
				}
			}
		}
		tr.selected td {
			background: #e2eff6;
			border-top-color: #e2eff6;
		}
		tr.dropping td {
			border-top-color: #0088cc;
		}
		tr.error td {
			text-decoration: line-through;
			color: #c0c0c0;
		}
		tr.ltr td {
			background: #fff;
			height: 21px;
		}
		tr:hover {
			td:first-child, td.time {
				span {
					display: none;
				}
				a {
					display: inline;
					&.love {
						display: block;
					}
				}
			}
			&.error {
				td:first-child, td.time {
					span {
						display: inline;
					}
					a {
						display: none;
					}
				}
			}
		}
	}
}

section#album {
	div.header button.store {
		margin: 0 0 0 10px;
	}
	table .img, table .img {
		iframe, b {
			float: left;
			width: 64px;
			height: 64px;
		}
		b {
			position: relative;
			margin: -64px 0 0;
		}
	}
	menu {
		width: 300px;
		margin: 20px 0 0;
		text-align: center;
		li {
			display: inline-block;
		}
	}
	div.cover iframe {
		width: 300px;
		height: 300px;
	}
	div.similarAlbums {
		width: 300px;
		padding: 0 4px;
		overflow: hidden;
	}
}

section#home {
	div.padding {
		padding: 15px 0 15px 10px;
		overflow: hidden;
	}
	div.right {
		float: right;
		padding: 0 20px 20px 20px;
		width: 300px;
		overflow: hidden;
		form { 
			padding: 0 40px;
			button[type="submit"] {
				display: none;
			}
		}
	}
	div.tags {
		margin: 20px 0;
	}
}

section#artist {
	div.image iframe {
		width: 300px;
		height: 300px;
	}
	p.bio, ul.members {
		font-size: 14px;
		line-height: 20px;
		max-width: 300px;
		margin: 20px 0 0;
	}
	ul.members li {
		margin: 0 0 5px;
		span {
			color: #c0c0c0;
		}
		a {
			color: #0088cc;
		}
	}
	div.right {
		float: right;
		width: 300px;
		padding: 0 20px 20px 0;
	}
	div.padding {
		margin-right: 300px;
		overflow: hidden;
	}
	a.album {
		margin: 0 5px 5px 0;
	}
}

#drag {
	position: fixed;
	z-index: 1030;
	background: #505154 no-repeat 1px -5px;
	color: #fff;
	padding: 3px 7px 2px 2px;
	max-width: 300px;
	.borderRadius(10px);
	.ellipsis();
	i {
		margin-left: 5px;
	}
	&.dropping {
		background-color: #51a351;
		i {
			fill: #a2da7f;
		}
	}
}

body.fullscreen {
	aside, section {
		display: none!important;
	}
	#YTPlayer, #SCPlayer {
		top: 0;
		left: 0;
	}
}
