<div class="modal replace hidden">
	<div class="header">
		<h2>Replace</h2>
		<hr>
	</div>
	<div class="padding">
		<table>
			<tbody>
				<tr><td class="empty">Searching...</td></tr>
			</tbody>
		</table>
	</div>
</div>
