<div class="header">
	<h1 key="{{dataKey}}">{{a artist.name artist.link}} - {{title}}</h1>
	<hr>
</div>
<div class="half">
	<div class="padding">
		<table>
			{{#each songs}}
				{{> song}}
			{{/each}}
			{{#empty songs}}
				<tr><td class="empty">Sorry, this album does not contain any songs</td>
			{{/empty}}
		</table>
	</div>
</div>
<div class="half">
	<div class="padding">
		<div class="cover"></div>
		<div class="similarAlbums"></div>
		<!--
		<menu>
			<li class="remove"><button class="btn btn-mini">{{L 'removeAlbum'}}</button></li>
		</menu>
		-->
	</div>
</div>
