<div class="header">
	<h1>{{name}}</h1>
	<hr>
</div>
<div class="right">
	<div class="image">
		<iframe src="/image.html#{{image}}"></iframe>
	</div>
	<div class="tags">
		{{#each tags}}
			{{a name link}}
		{{/each}}
	</div>
	<p class="bio">{{bio}}</p>
</div>
<div class="padding">
	
</div>
