<div class="header">
	<h1>Versi&oacute;n desactualizada</h1>
	<hr>
</div>
<div class="half">
	<div class="padding" style="font-size: 150%; line-height: 1.28em">
		<p>
			Est&aacute; versi&oacute;n de Gatunes est&aacute; desactualizada y va a desaparecer.
		</p>
		<p>
			Ahora Gatunes es una aplicaci&oacute;n standalone con mejor rendimiento, modo offline y otras nuevas funcionalidades.
		</p>
		<p>
			Descarga ahora la nueva versi&oacute;n visitando: <strong>http://www.gatunes.com</strong>
		</p>
		<p>
			No pierdas tus listas!... Usa este bot&oacute;n para guardarlas en un archivo e imp&oacute;rtalas en la nueva aplicaci&oacute;n cuando la tengas instalada.
		</p>
		<p class="export">
			<button class="btn"><i class="icon-file"></i> Exportar datos</button>
		</p>
	</div>
</div>
