<div class="header" style="text-align: center">
	<h1>Versi&oacute;n desactualizada</h1>
	<hr>
</div>
<div style="font-size: 150%; line-height: 1.28em; width: 60%; margin: 30px auto 60px; text-align: justify">
	<p>
		Est&aacute; versi&oacute;n de Gatunes est&aacute; desactualizada y va a desaparecer.
	</p>
	<p>
		Ahora Gatunes es una aplicaci&oacute;n standalone con mejor rendimiento, modo offline y otras nuevas funcionalidades.
	</p>
	<p>
		Descarga ahora la nueva versi&oacute;n visitando: <strong>http://www.gatunes.com</strong>
	</p>
	<p>
		No pierdas tus listas!!... Usa este bot&oacute;n para guardarlas en un archivo e imp&oacute;rtalas en la nueva aplicaci&oacute;n cuando la tengas instalada.
	</p>
	<p class="export" style="margin-top: 30px; text-align: center">
		<button class="btn btn-large">Exportar datos</button>
	</p>
</div>
