{{#if offline}}
	<p class="empty">&nbsp;<br>&nbsp;<br>&nbsp;</p>
	<p class="empty">{{L 'exploreOffline'}}<br>{{L 'exploreOfflineB'}}</p>
{{else}}
	<div class="right">
		<div class="tags"></div>
	</div>
	<div class="padding">

	</div>
{{/if}}