<aside>
	<a href="/" class="brand">
		<img src="/img/brand.png" />
	</a>
	<form>
		<input type="text" placeholder="{{L 'searchPrompt'}}..." name="query" /> 
		<button class="btn" type="submit">{{L 'search'}}</button>
	</form>
	<menu>
		<li class="create">{{a 'createPlaylist' '/playlist' null 'plus icon-white'}}</li>
		<li class="loved">{{a 'loved' '/loved' null 'heart icon-white'}}</li>
	</menu>
	{{> playlistsMenu}}
</aside>
<section></section>
<footer>
	<div class="slider">
		<div></div>
		<div></div>
		<span></span>
		<div class="t"></div>
	</div>
	<menu>
		<li class="play"><button class="btn btn-inverse"><i class="icon-play"></i></button></li>
		<li class="prev"><button class="btn btn-inverse"><i class="icon-step-backward"></i></li>
		<li class="next"><button class="btn btn-inverse"><i class="icon-step-forward"></i></li>
		<li class="love"><button class="btn btn-inverse"><i class="icon-heart"></i></button></li>
		<li class="fullscreen"><button class="btn btn btn-inverse"><i class="icon-fullscreen"></i></button></li>
		<li class="title"><a href="#"></a></li>
		<li class="time"></li>
	</menu>
</footer>
